**/IPM_HDEV_2/MCAD/
**/IPM_HDEV_2/OPD/

**/Motor
**/MCAD/
*.zip
*.bak
**/backup/
**/MessageLogs/
**/Matlab
*.dat
*.mot
*.zip
**/IPM using Integrated Export/

%% Resulst
**/MCAD/
**/MotorLAB_drivecycledata/
**/MotorLAB_elecdata/
**/FEResultsData/
**/DutyCycleData/**

/MotorCAD_code2
/transientResults/
/Rotem_HDEV/
/IPM_HDEV_122/
/HDEV_Thesis1/
**/backup/
**/Matlab/
*LabTemp_ExternalCircuit*
optislang_wks.code-workspace
HDEV_Code3/PYTHON/HDEV_ob2o22i20si1f1.py
**/Lab/LabTemp_ExternalCircuit
*.opf_utosave
*.opx
*\Sensitivity__f3*
**/Sensitivity__f3*
**/IPM_HDEV_2/
**/Validation
*.png
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Airgap_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Banding_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Bearing_Temp_Front.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Bearing_Temp_Rear.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Current_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Custom_Loss_Total.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/DC_Bus_Voltage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Drive_Cycle_Current.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Drive_Cycle_Period.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Drive_Cycle_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Drive_Cycle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Drive_Cycle_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Duration.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Efficiency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Electromagnetic_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Electromagnetic_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/External_Line_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Flux_Linkage_D.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Flux_Linkage_Q.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Frequency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Friction_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Gear_Ratio.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Id_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Id_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Idc.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Eddy.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Hysteresis.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Rotor_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Rotor_Pole.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Rotor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Stator_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Stator_Tooth.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss_Stator.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Iron_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/kE_EMF_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/kE_EMF_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/kT_Torque_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/kT_Torque_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Ld.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Lq.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Magnet_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Magnet_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Magnet_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Mechanical_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Open_Circuit_EMF_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Open_Circuit_EMF_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Phase_Advance.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/PM_Flux_Linkage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Power_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Power_Factor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Reluctance_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Shaft_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Shaft_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Sleeve_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Speed_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Copper_Loss_AC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Copper_Loss_DC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Copper_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Current_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Current_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Current_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Current_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Stator_Winding_Temp_Average.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Terminal_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Time.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Torque_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Total_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Vd_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Vd_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Vehicle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Voltage_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Voltage_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Voltage_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Voltage_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Vq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Vq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP1_temp_rise_lab_result_csv/Windage_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Airgap_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Banding_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Bearing_Temp_Front.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Bearing_Temp_Rear.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Current_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Custom_Loss_Total.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/DC_Bus_Voltage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Drive_Cycle_Current.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Drive_Cycle_Period.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Drive_Cycle_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Drive_Cycle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Drive_Cycle_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Duration.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Efficiency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Electromagnetic_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Electromagnetic_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/External_Line_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Flux_Linkage_D.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Flux_Linkage_Q.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Frequency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Friction_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Gear_Ratio.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Id_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Id_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Idc.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Eddy.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Hysteresis.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Rotor_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Rotor_Pole.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Rotor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Stator_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Stator_Tooth.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss_Stator.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Iron_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/kE_EMF_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/kE_EMF_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/kT_Torque_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/kT_Torque_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Ld.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Lq.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Magnet_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Magnet_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Magnet_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Mechanical_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Open_Circuit_EMF_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Open_Circuit_EMF_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Phase_Advance.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/PM_Flux_Linkage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Power_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Power_Factor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Reluctance_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Shaft_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Shaft_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Sleeve_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Speed_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Copper_Loss_AC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Copper_Loss_DC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Copper_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Current_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Current_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Current_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Current_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Stator_Winding_Temp_Average.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Terminal_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Time.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Torque_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Total_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Vd_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Vd_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Vehicle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Voltage_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Voltage_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Voltage_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Voltage_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Vq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Vq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP2_temp_rise_lab_result_csv/Windage_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Airgap_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Banding_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Bearing_Temp_Front.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Bearing_Temp_Rear.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Current_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Custom_Loss_Total.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/DC_Bus_Voltage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Drive_Cycle_Current.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Drive_Cycle_Period.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Drive_Cycle_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Drive_Cycle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Drive_Cycle_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Duration.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Efficiency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Electromagnetic_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Electromagnetic_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/External_Line_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Flux_Linkage_D.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Flux_Linkage_Q.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Frequency.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Friction_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Gear_Ratio.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Id_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Id_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Idc.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Eddy.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Hysteresis.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Rotor_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Rotor_Pole.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Rotor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Stator_Back_Iron.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Stator_Tooth.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss_Stator.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Iron_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/kE_EMF_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/kE_EMF_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/kT_Torque_Constant_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/kT_Torque_Constant_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Ld.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Lq.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Magnet_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Magnet_Temp.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Magnet_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Mechanical_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Open_Circuit_EMF_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Open_Circuit_EMF_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Phase_Advance.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/PM_Flux_Linkage.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Power_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Power_Factor.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Reluctance_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Shaft_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Shaft_Torque.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Sleeve_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Speed_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Copper_Loss_AC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Copper_Loss_DC.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Copper_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Current_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Current_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Current_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Current_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Stator_Winding_Temp_Average.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Terminal_Power.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Time.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Torque_Error.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Total_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Vd_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Vd_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Vehicle_Speed.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Voltage_Line_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Voltage_Line_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Voltage_Phase_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Voltage_Phase_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Vq_Peak.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Vq_RMS.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Lab/OP3_temp_rise_lab_result_csv/Windage_Loss.csv
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Thermal/OP1.txt
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/HDEV_Model2_Design001/Thermal/transient.txt
HDEV_Code2/OPD/HDEV_Pjt1.opd/Sensitivity1/transientResults/OP3.trf
IPM_HDEV_1/OPD/.HDEV_Thesis1.opf.inuse
IPM_HDEV_1/OPD/HDEV_Thesis1.opf
IPM_HDEV_1/OPD/HDEV_Thesis1.opf_autosave
IPM_HDEV_1/OPD/HDEV_Thesis1.opd/.inuse
IPM_HDEV_1/OPD/HDEV_Thesis1.opd/HDEV__Thesis1/Design0001/_Pic_CoggingTorqueVW.mat
IPM_HDEV_1/OPD/HDEV_Thesis1.opd/HDEV__Thesis1/Design0001/_Pic_CoggingTorqueVWmat
IPM_HDEV_1/OPD/HDEV_Thesis1.opd/HDEV__Thesis1/Design0001/HDEV_Thesis1_Design0001/Lab/MotorLAB_drivecycledata.mat
IPM_HDEV_1/OPD/HDEV_Thesis1.opd/HDEV__Thesis1/Design0001/HDEV_Thesis1_Design0001/Lab/MotorLAB_elecdata.mat
IPM_HDEV_2/PYTHON/HDEV_Thesis2_kdh.py
IPM_HDEV_2/PYTHON/HDEV_Thesis2_reeval.py
IPM_HDEV_2/PYTHON/HDEV_Thesis2.py
IPM_HDEV_2/PYTHON/HDEV_Thesis3.py
