IPM_HDEV_2/MCAD/
IPM_HDEV_2/OPD/
**/Motor
**/MCAD/
*.zip
*.bak
**/backup/
**/MessageLogs/
**/Matlab
*.dat
*.mot
*.zip
**/IPM using Integrated Export/

%% Resulst
**/MCAD/
**/MotorLAB_drivecycledata/
**/MotorLAB_elecdata/
**/FEResultsData/
**/DutyCycleData/**

/MotorCAD_code2
/transientResults/
/Rotem_HDEV/
/IPM_HDEV_122/
/HDEV_Thesis1/
**/backup/
**/Matlab/
*LabTemp_ExternalCircuit*
optislang_wks.code-workspace
HDEV_Code3/PYTHON/HDEV_ob2o22i20si1f1.py
**/Lab/LabTemp_ExternalCircuit
*.opf_autosave
*.opx

*.png
*.inuse
HDEV_Code3/OPD/HDEV_ob2o24i28si1f1.py.opf_autosave
*\Sensitivity__f3*
**/Sensitivity__f3*