**/IPM_HDEV_2/MCAD/
**/IPM_HDEV_2/OPD/

**/Motor
**/MCAD/
*.zip
*.bak
**/backup/
**/MessageLogs/
**/Matlab
*.dat
*.mot
*.zip
**/IPM using Integrated Export/

%% Resulst
**/MCAD/
**/MotorLAB_drivecycledata/
**/MotorLAB_elecdata/
**/FEResultsData/
**/DutyCycleData/**

/MotorCAD_code2
/transientResults/
/Rotem_HDEV/
/IPM_HDEV_122/
/HDEV_Thesis1/
**/backup/
**/Matlab/
*LabTemp_ExternalCircuit*
optislang_wks.code-workspace
HDEV_Code3/PYTHON/HDEV_ob2o22i20si1f1.py
**/Lab/LabTemp_ExternalCircuit
*.opf_autosave
*.opx
**/Sensitivity__f3*
**/IPM_HDEV_2/
**/Validation
*.png

**.inuse
**/Manual_Validate/De*
**.omdb
HDEV_Code2/OPD/.HDEV_Pj1_ob2o18i20si1f3.opf.inuse
**.omdb/*

*/*.opd/
